<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-ng-repeat-production</title>
  <link href="animations.css" rel="stylesheet" type="text/css">
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="//code.angularjs.org/snapshot/angular-animate.js"></script>
  <script src="script.js"></script>
  
<style>
.table-striped>tbody>tr:nth-child(odd)>td
{background-color: lightblue;}

</style>
  
</head>
<body ng-app="ngRepeat" >
  <div ng-controller="repeatController">
  <div class="container">
  <h2>I have {{friends.length}} friends. They are:</h2>
  <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
 <table class="table table-striped">
  <thead>
      <th class="th">number</th> 
      <th class="th">name</th> 
      <th class="th"">period</th> 
      <th class="th"">count</th> 
  </thead> <!--end -->
  <tbody>
  <tr class="example-animate-container class="animate-repeat" ng-repeat="friend in friends | filter:q as results">

      <td>[{{$index + 1}}]</td> 
      <td>{{friend.name}}</td> 
      <td>{{friend.period}}</td> 
      <td> 
      <button ng-click="friend.count = friend.count + 1" ng-init="count=0">+</button>
      {{friend.count}}
      <button ng-click="friend.count = friend.count - 1" ng-init="count=0">-</button>
      </td>
  </tr> <!--end row-->
 <tr>
    <td class="animate-repeat" ng-if="results.length === 0">
      <strong>No results found...</strong>
    </td>
  </tr><!--end row-->
</tbody>
</table>
</div> <!--end container -->

</body>
</html>

<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->